node_modules/
build/
backend/.env
backend/flask_session/
flask_session/
terraform/.terraform/
*.tfstate
*.tfstate.*
backend/lambda_package/
backend/lambda_function.zip
terraform/secrets.auto.tfvars
.env.local