* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {

    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
  }

  .paragraph {
    font-size: 20px;
    display: flex;
    flex-flow: column;
    padding-bottom: 50px;
    max-width: 1000px;
  }

  .paragraphSmall {
    font-size: 10px;
    display: flex;
    flex-flow: column;
    padding-bottom: 50px;
    max-width: 1000px;
  }

  .imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .imgsSmall{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
  }

  .pdf{
    width: 75%;
    height: 75vh;
    margin: 0 auto;
    background-color: #777;
    display: block;
  }